@import 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Pacifico';

/*
font-family: 'Pacifico', cursive;
font-family: 'Dosis', sans-serif;
*/


a {
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
	color: $dark-grey;
	text-decoration: none;
}